.mappers-header {
	position: fixed;
	inset: var(--wp-admin--admin-bar--height, 0px) 0 auto;
	z-index: 600;
	background-color: @white;
	transition:
		transform 0.4s,
		box-shadow 0.4s;
	&.mappers-hide {
		transform: translateY(-101%);
	}
	&.mappers-fixed {
	}
	.mappers-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--mappers-header-height);
		gap: 24px;
		@media @sm {
			gap: 16px;
		}
	}
	.mappers-logo {
		@media @md {
			margin-right: auto;
		}
	}
}

.mappers-logo {
	display: flex;
	max-width: 150px;
}

.mappers-header-nav {
	@media @md {
		top: calc(var(--wp-admin--admin-bar--height, 0px) + var(--mappers-header-height) - 1px);
		.mappers-modal-wrapp {
			padding: 0;
		}
		.mappers-modal-body {
			width: var(--mappers-app-min-width);
			margin-right: 0;
			min-height: 100%;
			transform: translateX(100%);
			border-radius: 0;
			gap: 24px;
			align-items: center;
			@media @xs {
				width: 100%;
			}
		}
		&.active {
			.mappers-modal-body {
				transform: translateX(0);
			}
		}
	}
	@media @md_ {
		all: unset;
		display: contents;
		&:not(.mappers-active) {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		.mappers-modal-wrapp {
			all: unset;
			display: contents;
		}
		.mappers-modal-body {
			all: unset;
			display: contents;
		}
	}
}

.mappers-header-menu {
	display: flex;
	align-items: center;
	@media @md {
		flex-direction: column;
		gap: 0;
		margin: auto 0;
	}
	a {
		color: @placeholder;
		transition: color 0.4s;
		display: flex;
		padding: 24px 16px;
		gap: 4px;
		svg {
			display: none;
			color: @link;
			--size: 16px;
		}
		&:hover {
			color: @link;
		}
	}
	.current-menu-item {
		& > a {
			color: @link;
			font-weight: 500;
		}
	}
}

.mappers-header-btns {
	display: flex;
	align-items: center;
	gap: 24px;
	@media @md {
		order: -1;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.mappers-header-btn-with-icon {
	display: flex;
	align-items: center;
	gap: 6px;
	font-weight: 700;
	color: @title;
	i {
		flex: none;
		width: 40px;
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		border-radius: 50%;
		background-color: fade(@link, 15%);
		color: @link;
		transition:
			color 0.4s,
			background-color 0.4s;
	}
	&:hover {
		i {
			color: @white;
			background-color: @link;
		}
	}
}

.mappers-header-cabinet {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	@media @md {
		width: 100%;
	}
}

.mappers-header-btn-cabinet {
	min-height: 40px;
}

.mappers-header-nav-toggle {
	display: flex;
	flex: none;
	position: relative;
	svg {
		transition:
			opacity 0.4s,
			transform 0.4s;
		&:last-child {
			opacity: 0;
			transform: scale(0);
			position: absolute;
			left: calc(50% - 0.5 * var(--size));
			top: calc(50% - 0.5 * var(--size));
		}
	}
	&.mappers-active {
		svg {
			&:first-child {
				opacity: 0;
				transform: scale(0);
			}
			&:last-child {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

.mappers-header-logout {
	display: flex;
	transition: color 0.4s;
	&:hover {
		color: @linkH;
	}
}

.mappers-modal-form {
	--gap: 40px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	@media @md {
		--gap: 24px;
	}
	.mappers-form-notifications {
		&:not(.mappers-active) {
			margin-bottom: calc(-1 * var(--gap));
		}
	}
}

.mappers-login-form-change {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mappers-login-form-change-title {
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
	&:after {
		content: '|';
		left: 100%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}

.mappers-login-form-change-btn {
	color: @link;
	font-weight: 700;
	transition: color 0.4s;
	&:hover {
		color: @linkH;
	}
}

.mappers-modal-form-forgot-password {
	margin: -8px 0 0 auto;
}

.mappers-modal-form-back {
	color: @link;
	flex: none;
	transition: color 0.4s;
	position: absolute;
	left: 24px;
	top: 24px;
	@media @md {
		left: 8px;
		top: 8px;
	}
	&:hover {
		color: @linkH;
	}
}

.mappers-page-main {
	padding: 64px 0 80px;
	@media @md {
		padding: 32px 0 48px;
	}
}

.mappers-page-title {
	margin-bottom: 40px;
	@media @md {
		margin-bottom: 24px;
	}
}

.mappers-profile {
	display: flex;
	background-color: @white;
	border-radius: 16px;
	border: solid 1px @border;
	@media @md {
		flex-direction: column;
	}
}

.mappers-profile-nav {
	flex: none;
	width: 416px;
	padding: 40px;
	border-radius: 16px;
	background-color: @white;
	box-shadow: 2px 2px 20px 0px #52422f1f;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: -1px 0 -1px -1px;
	@media @md {
		margin: -1px -1px 0;
		padding: 24px var(--mappers-container-padding);
		gap: 24px;
		width: auto;
	}
}

.mappers-profile-menu {
	margin: -20px 0;
	li {
		&:not(:last-child) {
			border-bottom: solid 1px @border;
		}
		&.mappers-active {
			.mappers-profile-menu-link {
				color: @link;
			}
		}
	}
}

.mappers-profile-menu-link {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px 0;
	color: @title;
	span {
		.mappers-h3;
	}
	i {
		font-size: 12px;
		padding: 3px 6px;
		border: solid 1px @border;
		color: @link;
		border-radius: 6px;
		font-style: normal;
	}
}

a.mappers-profile-menu-link {
	transition: color 0.4s;
	&:hover {
		color: @link;
	}
}

.mappers-profile-body {
	display: flex;
	flex-direction: column;
	flex: auto;
	min-width: 0;
	padding: 64px 56px;
	@media @md {
		padding: 24px var(--mappers-container-padding);
	}
}

.mappers-profile-form,
.mappers-profile-delete {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 476px;
}

.mappers-modal-profile-delete-tab {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
